# -----------------------------
# OneHaven / Real Estate Cycle Platform
# Local Development Environment
# -----------------------------

# Postgres
POSTGRES_USER=onehaven
POSTGRES_PASSWORD=onehaven_dev_password
POSTGRES_DB=onehaven_market
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Backend
API_PORT=8000
DATABASE_URL=postgresql+psycopg2://onehaven:onehaven_dev_password@postgres:5432/onehaven_market
FRONTEND_ORIGIN=http://localhost:3000

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8000

# Data providers
FRED_API_KEY=replace_with_your_fred_api_key

# Zillow Research source mode
ZILLOW_SOURCE_MODE=local
ZILLOW_ZHVI_LOCAL_PATH=data/import/zillow/zhvi.csv
ZILLOW_ZORI_LOCAL_PATH=data/import/zillow/zori.csv
ZILLOW_ZHVI_URL=replace_with_current_zillow_zhvi_csv_url
ZILLOW_ZORI_URL=replace_with_current_zillow_zori_csv_url

# Redfin Data Center source mode
REDFIN_SOURCE_MODE=local
REDFIN_MARKET_TRACKER_LOCAL_PATH=data/import/redfin/market_tracker.csv
REDFIN_MARKET_TRACKER_URL=replace_with_current_redfin_market_tracker_csv_url

# Census geography
CENSUS_YEAR=2025
CENSUS_STATE_URL=https://www2.census.gov/geo/tiger/GENZ2025/shp/cb_2025_us_state_500k.zip
CENSUS_CBSA_URL=https://www2.census.gov/geo/tiger/TIGER2025/CBSA/tl_2025_us_cbsa.zip

# Census Building Permits Survey
CENSUS_BPS_SOURCE_MODE=local
CENSUS_BPS_STATE_MONTHLY_LOCAL_PATH=data/import/census_building_permits/state_jan_2026.xls
CENSUS_BPS_CBSA_MONTHLY_LOCAL_PATH=data/import/census_building_permits/cbsa_jan_2026.xls
CENSUS_BPS_STATE_ANNUAL_LOCAL_PATH=data/import/census_building_permits/state_annual_2025.xls
CENSUS_BPS_CBSA_ANNUAL_LOCAL_PATH=data/import/census_building_permits/cbsa_annual_2025.xls
CENSUS_BPS_STATE_MONTHLY_URL=replace_with_current_census_bps_state_monthly_file_url
CENSUS_BPS_CBSA_MONTHLY_URL=replace_with_current_census_bps_cbsa_monthly_file_url
CENSUS_BPS_STATE_ANNUAL_URL=replace_with_current_census_bps_state_annual_file_url
CENSUS_BPS_CBSA_ANNUAL_URL=replace_with_current_census_bps_cbsa_annual_file_url

# Census ACS Data API
CENSUS_ACS_YEAR=2024
CENSUS_ACS_BASE_URL=https://api.census.gov/data
CENSUS_DATA_API_KEY=

# HUD-USPS ZIP Code Crosswalk API
HUD_USPS_API_BASE_URL=https://www.huduser.gov/hudapi/public/usps
HUD_USPS_ACCESS_TOKEN=replace_with_hud_usps_access_token
HUD_USPS_YEAR=2025
HUD_USPS_QUARTER=4
HUD_USPS_QUERY=All

# BLS LAUS
BLS_API_BASE_URL=https://api.bls.gov/publicAPI/v2/timeseries/data/
BLS_API_KEY=
BLS_LAUS_START_YEAR=2020
BLS_LAUS_END_YEAR=2026
